<div class="flex flex-col gap-12 w-full container pb-6">
  <section class="flex flex-col gap-6 w-full">
    <h3 hlmH3 class="font-semibold text-2xl">Your Favorites</h3>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
    >
      @if (favorites().length === 0) {
      <p class="text-center">You have no favorites yet.</p>
      } @else { @for (movie of favorites(); track $index) {
      <app-card-movie [movie]="movie"></app-card-movie>
      } }
    </div>
  </section>
</div>
