<div class="h-screen flex flex-col justify-start items-center bg-background text-foreground dark:bg-zinc-900">
  <div class="container mx-auto px-4 py-8">
    <div class="flex items-center justify-between">
      <h1 hlmH2 class="text-primary font-bold border-0">{{title}}</h1>

      <div class="flex items-center gap-4">
        <button hlmBtn variant="ghost" size="default" [routerLink]="['']">
          Movies
        </button>

        <button hlmBtn variant="ghost" size="default" [routerLink]="['tv-shows']">
          TV Shows
        </button>

        <button hlmBtn variant="default" size="default">
          <hlm-icon name="lucideBookmark" class="mr-2" size="sm"></hlm-icon>
          Favorites
        </button>

        <button hlmBtn variant="ghost" size="icon" (click)="toggleTheme()">
          <hlm-icon [name]="(theme$ | async) === 'dark' ? 'lucideSun' : 'lucideMoon'" size="sm"></hlm-icon>
        </button>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>